pycryptodome
#google-cloud-datastore #for hosting on GAE, it's needed
starlette
fastapi
gunicorn
uvicorn[standard]
vbuild
redys
pyyaml
lxml
python-dateutil
python-multipart
google-api-python-client
#tempita
#markdown2

